package {{packageName}}.circuit

import com.slack.circuit.foundation.Circuit
import {{packageName}}.nav.RootPresenterFactory
import {{packageName}}.nav.RootUiFactory

fun buildCircuit(): Circuit = Circuit.Builder()
    .addPresenterFactory(RootPresenterFactory())
    .addUiFactory(RootUiFactory())
    .build()
